<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <h1 class="about-h1">About</h1>
    <section>
        <p>lorem ipsum atonus magonus ipsumus 
            lorem ipsum atonus magonus
            ipsumuslorem ipsum atonus magonus<br/>
            ipsumuslorem ipsum atonus magonus ipsumuslorem ipsum 
            atonus magonus ipsumus</p>
        <p>lorem ipsum atonus magonus ipsumus 
            lorem ipsum atonus magonus
            ipsumuslorem ipsum atonus magonus<br/>
            ipsumuslorem ipsum atonus magonus ipsumuslorem ipsum 
            atonus magonus ipsumus</p>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>